[submodule "start/fzf"]
	path = start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "start/fzf.vim"]
	path = start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "start/nerdtree"]
	path = start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "start/ale"]
	path = start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "start/rust.vim"]
	path = start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "start/vim-airline"]
	path = start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "start/vim-easy-align"]
	path = start/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule "start/vim-airline-themes"]
	path = start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "start/dracula"]
	path = start/dracula
	url = https://github.com/dracula/vim.git
[submodule "start/vim-sensible"]
	path = start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "start/vim-todo-lists"]
	path = start/vim-todo-lists
	url = https://github.com/aserebryakov/vim-todo-lists.git
[submodule "start/vim-toml"]
	path = start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "start/vim-surround"]
	path = start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "start/typescript-vim"]
	path = start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "start/vim-repeat"]
	path = start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "start/graphviz.vim"]
	path = start/graphviz.vim
	url = git@github.com:liuchengxu/graphviz.vim.git
[submodule "start/vim-markdown-toc"]
	path = start/vim-markdown-toc
	url = git@github.com:mzlogin/vim-markdown-toc.git
[submodule "start/vim-commentary"]
	path = start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
